.hover-shadow.svelte-u4k2t{transition:all .3s ease}.hover-shadow.svelte-u4k2t:hover{transform:translateY(-4px);box-shadow:0 10px 25px #0000001a!important}.transition.svelte-u4k2t{transition:all .3s ease}
